/* Mobile styling */

/* Universal styling */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    Font-size: 18px;
    font-family: Bai-Jamjuree;
    line-height: 40px;
}

* {
    list-style: none;
    text-decoration: none;
}

:root {
    /* Primary colors */
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    /* Neutral colors */
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    /* Spacing */
    --container-padding: 4%;
}

@font-face {
    font-family: Bai-Jamjuree;
    src: url(/Assets/Fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}

h1, h2, h3{
    color: var(--Dark-Grayish-Blue);
}

p {
    color: var(--Grayish-Blue);
}
 
/* header section */

.header {
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin: 8rem 0 5rem 0;
}

/* hero section */
.hero, .section-5{
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-bottom: 8rem;
}

.buttons{
    margin-top: 2rem;
}
.buttons a {
    display: inline-block;
    padding: 12px 15px;
    width: 92%;
    margin: 12px 0;
    color: white;
    border-radius: 50px;
    font-weight: 600;
}

.iOS-btn {
    background-color: var(--Strong-Cyan);
    box-shadow: 2px 2px 0px 1px rgba(17, 140, 122, 0.9);

}

.mac-btn {
    background-color: var(--Light-Blue);
    box-shadow: 2px 2px 0px 1px rgba(37, 58, 216, 0.81);

}

/* Section-1 */

.section-1 {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-bottom: 8rem;
}

.feature-img, .mobile-tablet-screen {
    margin-top: 60px;
    width: 92%;
}

/* Section-2 */

.section-2 {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);    margin-bottom: 8rem;
}

/* Section-3 */
.section-3 {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-bottom: 8rem;
}

.feature-icons {
    margin-top: 30px;
}

.list-of-features {
    margin-top: 60px; 
    padding: 0%;
}

/* Section 4 */

.section-4 {  
    margin-bottom: 8rem;
}

.company-logos{
    padding:0%;
}

.company-logos li {
    padding-top: 50px;
}

/* footer section */
.footer {
    background-color: rgb(244, 244, 244);
    padding-top: 60px;
}

.footer-logo {
    width: 15%;
}

.footer-menu, .social-links {
    padding: 0;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-menu li {
    padding-top: 25px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.footer-menu a {
    color: var(--Grayish-Blue);
}

.social-links li {
    padding: 10px 20px 40px 20px;
}

.attribution a {
    color: aliceblue;
}

.attribution {
    margin: 0%;
    color: aliceblue;
    background-color: var(--Dark-Grayish-Blue);
    padding: 1rem 0;
}

/* Responsive - Desktop Styling */

@media (min-width: 1440px) {
    :root {
        --desktop-container: 23%;
    }

    h1{
        font-size: 3rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3{
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }
    /* header section */
    .header {
        background-image: url(/images/bg-header-desktop.png);
    }

    /* hero section */
    .hero, .section-5 {
        padding-left: var(--desktop-container);
        padding-right: var(--desktop-container);
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .buttons a {
        width: 20%;
        margin: 0 15px;
    }

    /* section 1 */
    .section-1 .desktop-pad {
        padding: 0 17%;
    }

    .features {
        display: flex;
        align-items: center;
    }

    .feature-img {
        position: relative;
        right: 90px;
    }
}