/* Universal styling */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    Font-size: 18px;
    font-family: Bai-Jamjuree;
}

* {
    list-style: none;
    text-decoration: none;
}

:root {
    /* Primary colors */
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    /* Neutral colors */
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    /* Spacing */
    --container-padding: 0 5.6%;
}

@font-face {
    font-family: Bai-Jamjuree;
    src: url(/Assets/Fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}

h1, h2, h3{
    color: var(--Dark-Grayish-Blue);
}

p {
    color: var(--Grayish-Blue);
}
 
/* header section */

.header {
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin: 8rem 0 1rem 0;
}

/* hero section */
.hero {
    padding: var(--container-padding);
}

.buttons a {
    display: inline-block;
    padding: 3px 15px;
    margin: 6px 0;
}