@font-face {
    font-family: Bai-Jamjuree;
    src: url(/Assets/Fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    Font-size: 18px;
    font-family: Bai-Jamjuree;
}
 
/* header section */

.header {
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin: 100px 0 60px 0;
}