body {
    margin: 0;
    padding: 0;
    text-align: center;
    Font-size: 18px;
    font-family: Bai-Jamjuree;
}

:root {
    --Strong-Cyan: hsl 171, 66%, 44%;
}

@font-face {
    font-family: Bai-Jamjuree;
    src: url(/Assets/Fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}
 
/* header section */

.header {
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin: 8rem 0 5rem 0;
}